// firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true; // allow everything in emulator
    }
    match /{document=**} {
      allow read, write: if true; // allow all other documents too
    }
  }
}
